PORT=5000
CLIENT_URL=http://localhost:5173,https://your-vercel-domain.vercel.app
ADMIN_EMAIL=admin@sawad.com
ADMIN_PASSWORD=123456
MONGODB_URI=
MONGODB_DB_NAME=sawad
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_FOLDER=sawad/products
